.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right top, #0a1c38, #001f50, #002068, #001e7f, #0b1593);
    border-radius: 5px;
    padding: 10px;
}

.button {
   padding: 5px 40px;
   border: none;
   border-radius: 5px;
}