.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms-container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    align-items: center;
    width: 75%;
}

.form {
    background-image: linear-gradient(to right top, #397392, #4c84a0, #6095ae, #74a7bc, #88b9ca);
    border-radius: 5px;
    padding: 20px;
    width: 75%;
    box-shadow: 0 8px 8px -4px #58aeca;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
