<div class="main">
   <div class="forms-container" *ngFor="let item of items.controls | slice:0:counter ; index as i">
      <form id="i" class="form" [formGroup]="$any(item)" >       
         <app-input [control]="$any(item).controls['name']" inputType="text" inputTitle="name"></app-input>
         <app-input [control]="$any(item).controls['lastName']" inputType="text" inputTitle="last name"></app-input>
         <app-input [control]="$any(item).controls['phoneNumber']" inputType="text" inputTitle="phone number"></app-input>
         <app-input [control]="$any(item).controls['email']" inputType="email" inputTitle="email"></app-input>
         <app-input [control]="$any(item).controls['password']" inputType="password" inputTitle="password"></app-input>
         <app-input [control]="$any(item).controls['confirmPassword']" inputType="password" inputTitle="confirm password"></app-input>
         <div class="error-container" *ngIf="$any(item).controls['confirmPassword'].value && !confirmPasswordCheck() ">
            It does not match the password
         </div>
         <div class="button-container">
            <app-button backgroundColor="#99C624" [disable]='item.invalid' text='Add' (click)="handleAdd()"></app-button>
            <app-button backgroundColor="#DD380D" [disable]='i===0' text='Delete' (click)="handleDelete(i)"></app-button>
         </div>      
     
      </form>
    </div>
    <app-button backgroundColor="#007EE3" [disable]='(!confirmPasswordCheck() || items.invalid || items.length > 10)' text='Submit' (click)="handleSubmit()"></app-button>

</div>


