.input-container{
    padding: 10px 0 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.input-container input {
   padding: 10px 0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    width: 75%;
}
.error-container {
    padding: 10px;
    color: #D8000C;
    text-align: center;
    font-weight: bold;
} 