/* You can add global styles to this file, and also import other style files */
body{
    background-color: #eee;
}
.error-container {
    padding: 10px;
    color: #D8000C;
    text-align: center;
    font-weight: bold;
} 